form {
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

button {
    color: white;
    background-color: rgb(142, 84, 184);
    border: solid 1px grey;
    border-radius: .1rem;
    margin: .5rem 0;
    padding: .3rem;
}

.form-control {
    display: flex;
    flex-direction: column;
}

.form-control label {
    font-weight: 600;
}

.form-control input {
    border: solid .5px #dbdbdb;
    border-radius: .2rem;
    margin: .2rem 0;
    padding: .2rem;
}

/* bigger screens */
@media (min-width: 768px) {
    form {
        margin: 1rem 4rem;
    }
    button {
        width: 5rem;
    }
}