html {
  font-family: "Avenir", sans-serif;
}

body {
  margin: 1rem;
  display: flex;
  flex-direction: column;
}

.App {
  align-self: center;
  border: solid 1px lightgray;
  border-radius: .5rem;
}

/* bigger screens */
@media (min-width: 768px) {
  body {
    margin: 2rem;
    align-items: center;
  }

  .App {
    min-height: 15rem;
    max-width: 700px;
    min-width: 700px;
  }
}